<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% include 'header.html' %}

    <form action="" method="GET">
        <input type="search" name="q" id="" placeholder="Search for People">
        <br><br>
    </form>

    <div id="post" class="post">
        <h3>Feeds</h3>
        <hr>
        {% include 'feed_component.html' %}
    </div>

</body>
</html>